.wrapper {
  margin-bottom: 2rem;
}

.wrapper label {
  font-weight: 600;
  font-size: 16px;
}

.wrapper nav {
  font-weight: 400;
  font-size: 14px;
}

.wrapper img {
  display: block;
}

.wrapper button {
  width: 12.5rem;
}

.wrapper .input {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 6px;

  display: flex;
  justify-items: center;
  align-items: center;

  margin-top: 1rem;
}

.wrapper .ip_input_container {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 6px;

  margin-top: 1rem;

  width: 15rem;
  height: 15rem;
}

.ip_input {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ip_input_file_container {
  text-align: center;
}

.upload_label {
  font-weight: 600;
  font-size: 20px;
  line-height: 41px;
}

.upload_format {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.input_pengalaman {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 24px;

  display: flex;
  justify-items: center;
  align-items: center;

  margin-top: 1rem;

  text-align: center;
}

.input_file {
  width: 100%;
  padding: 0.8rem;
  border-radius: 12px;
  border-style: none;

  color: var(--gray);
}

.input_file:focus {
  outline: none !important;
}

.ip_input_file {
  width: 100%;
  padding: 0.8rem;
  border-radius: 12px;
  border-style: none;

  color: var(--gray);
}

.ip_input_file:focus {
  outline: none !important;
}

.custom_file_input {
  color: transparent;

  padding: 0.8rem;
  width: 100%;

  text-align: center;

  /* background-color: aquamarine; */

  /* margin-left: 10rem; */
}

.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom_file_input::before {
  content: "+ Tambah Pengalaman";
  color: var(--blue);
  display: inline-block;
  outline: none;
  /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer; */
  /* text-shadow: 1px 1px #fff; */
  font-weight: 700;
  font-size: 1 0pt;
}

.custom_file_input:focus {
  outline: 0;
}

.custom_file_input:active {
  outline: 0;
}

.button_reset {
  background: none;
  border-radius: 12px;
  color: #1ea9e4;
  border: 1.5px solid #1ea9e4;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.4rem 2rem;
  cursor: pointer;

  width: fit-content;

  margin-right: 1rem;
}

.button_reset:hover {
  opacity: 0.9;

  background: #1ea9e4;
  border-radius: 12px;
  color: #fff;
  border: 1.5px solid #1ea9e4;
}

.button {
  /* position: absolute;
    top: -5rem;
    left: 53rem; */

  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.5rem 2.5rem;
  cursor: pointer;

  width: fit-content;
}

.button:hover {
  opacity: 0.9;
}

.photo_container {
  margin: 2rem 0;
}
