.course_request_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5rem;
  /* background-color: antiquewhite; */
}

.course_request_header_group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 32rem;

  /* background-color: aliceblue; */
}

.course_request_header_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.course_request_header_notif {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #eb5757;
}

.murid_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.murid_detail_name {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.murid_detail_age {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;

  /* Gray 3 */

  color: #828282;
}

.course_request_body {
  display: block;
  max-width: 100%;
  /* overflow-x: scroll;
  overflow-y: hidden; */
  /* border-bottom: 1px solid black; */
}

.course_request_header_search {
  border: solid 1px #1ea9e4;
  padding: 0.5rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.course_request_header_search img {
  margin-right: 0.5rem;
}

.course_request_header_search input {
  border-style: none;
}

.course_request_header_search input:focus {
  outline: none !important;
}

.table {
  /* Make sure the inner table is always as wide as needed */
  width: 100%;
  border-spacing: 0;
}

.respons_container {
  display: flex;
  justify-content: space-between;
}

.respons_yes {
  display: flex;
  align-items: center;
  color: #27d32e;
  cursor: pointer;
}

.respons_yes img,
.respons_no img {
  margin-right: 0.5rem;
}

.respons_no {
  display: flex;
  align-items: center;
  color: #ff3d00;
  cursor: pointer;
}

.respon_reject {
  color: #1ea9e4;
  cursor: pointer;
}

.respon_approved {
  color: #1ea9e4;
  cursor: pointer;
}

.hr {
  border: var(--hr);
}

.table_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_footer_total {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.ulasan_container,
.terkirim_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: aquamarine; */
}

.ulasan_container form,
.terkirim_container div {
  width: 30rem;
  /* background-color: antiquewhite; */
}

.ulasan_title,
.terkirim_title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 3rem;
}

.ulasan_comment_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.ulasan_comment_desc {
  margin-bottom: 1rem;
}

.ulasan_rating_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.ulasan_nanti button {
  background: none;
  border-radius: 12px;
  color: #1ea9e4;
  border: 1.5px solid #1ea9e4;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.4rem 0;
  cursor: pointer;

  width: 100%;
}

.ulasan_nanti button:hover {
  opacity: 0.9;

  background: #1ea9e4;
  border-radius: 12px;
  color: #fff;
  border: 1.5px solid #1ea9e4;
}

.ulasan_kirim button {
  margin-top: 2rem;
  margin-bottom: 1rem;

  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.5rem 0;
  cursor: pointer;

  width: 100%;
}

.ulasan_kirim button:hover {
  opacity: 0.9;
}

.terkirim_icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3rem;
}

.terkirim_rekomendasi_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.copy_link {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;

  height: 3rem;

  padding: 1rem;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copied_link {
  margin: 1rem 0;
  cursor: pointer;
}

.copy_link_right {
  /* background-color: #828282; */
  display: flex;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;
}

.copy_link_right > nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  margin-left: 0.5rem;

  color: #1ea9e4;
}
