/* .container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */

/* html,
body {
  font-family: "Poppins", sans-serif;
  color: #3e3e3e;
  overflow-y: scroll;
} */

/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} */

.container {
  padding: 1rem 7rem;
}

/* ------------- jumbotron ------------- */

.jumbotron_content {
  margin-top: 1rem;
  padding-top: 6rem;

  /* background-image: url("/assets/Group3761.svg"); */
  /* background-color: #cccccc; */
  height: 700px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 50%;
}

.content1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 86px;

  /* margin-top: 4rem; */
  margin-bottom: 1rem;

  /* max-width: 40%; */
}

.content2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  margin-bottom: 2rem;
  /* max-width: 40%; */
}

.content3 {
  margin-bottom: 2rem;

  display: flex;
}

.search_subject input {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  border: none;
  border: 1.5px solid #1ea9e4;
  border-radius: 8px 0px 0px 8px;

  padding: 1.5rem 4rem 1.5rem 2rem;
}

.search_subject input:focus {
  outline: none !important;
  /* box-shadow: 0 0 5px #1ea9e4; */
}

.search_location {
  border: none;
  border: 1.5px solid #1ea9e4;
  border-radius: 0px 8px 8px 0px;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_location img {
  /* background-color: #3e3e3e; */
  margin-right: 0.5rem;
}

.search_location input {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  border: none;
}

.search_location input:focus {
  outline: none !important;
}

.button_search {
  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  padding: 1em 2em;
  cursor: pointer;
}

.button_search:hover {
  /* background: #1588b9; */
  opacity: 0.9;
}

.content4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.content4 a {
  font-weight: bold;
  cursor: pointer;
  color: #3e3e3e !important;
}

/* ------------- banner1 ------------- */

.banner1 {
  width: 100%;
  /* background-image: url("/assets/Troffen\ -\ MVP/Blue banner.svg"); */
  background-size: cover;
  height: 200px;
  padding: 0; /* reset */
  /* padding-bottom: calc(100% * 3 / 4); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1_label {
  display: grid;
  grid-auto-flow: column;

  justify-content: space-between;

  /* background-color: #3e3e3e; */
  width: 60%;
}

.banner1_label1 {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.banner1_label1 img {
  margin-right: 1rem;
}

.banner1_label2 {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.banner1_label2 img {
  margin-right: 1rem;
}

.banner1_label3 {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.banner1_label3 img {
  margin-right: 1rem;
}

/* ------------- benefit ------------- */

.benefit {
  margin-top: 3rem;
}

.benefit_title {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  text-align: center;

  letter-spacing: -0.01em;
}

.benefit_content {
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 40% 40%;
  /* grid-auto-flow: column; */

  justify-content: center;
  align-items: center;
}

.benefit_content_left {
  /* background-color: #3e3e3e; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.benefit_content_container {
  display: grid;
  grid-template-columns: 50% 50%;

  justify-content: center;
  /* align-items: flex-start; */

  /* background-color: #1588b9; */
}

.benefit1,
.benefit2,
.benefit3,
.benefit4 {
  padding: 1rem 1rem;
  margin: auto 2rem;

  width: 70%;
}

.image {
  position: relative;
  top: 0;
  left: 0;

  margin-bottom: 1rem;
}

.image .image_1 {
  position: relative;
  top: 0;
  left: 0;
}

.image .image_2 {
  position: absolute;
  top: 17px;
  left: 19px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 0.5rem;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* ------------- kursus ------------- */

.kursus {
  margin: 3rem 4rem;
}

.kursus_title_1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  text-align: center;

  letter-spacing: -0.01em;
}

.kursus_title_2 {
  margin-top: 1rem;

  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.kursus_box {
  margin-top: 3rem;
  padding: 6rem 0;

  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.kursus_box_right {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #1588b9; */
}

.kursus_box_1_left,
.kursus_box_2_left {
  padding-bottom: 3rem;
}

.kursus_box_1_left,
.kursus_box_2_left,
.kursus_box_3_left {
  width: 60%;
  margin: 0 auto;
}

.kursus_box_1_left_1,
.kursus_box_2_left_1,
.kursus_box_3_left_1 {
  /* background-color: aquamarine; */
  /* max-width: 50%; */

  cursor: pointer;
}

.kursus_box_2_left,
.kursus_box_3_left {
  opacity: 0.5;
}

.kursus_box_1_left_1_title {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.kursus_box_1_left_1_title nav {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  margin-left: 0.5rem;
}

.kursus_box_1_left_1_desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

.kursus_box_2_left_1_title {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.kursus_box_2_left_1_title nav {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  margin-left: 0.5rem;
}

.kursus_box_2_left_1_desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

.kursus_box_3_left_1_title {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.kursus_box_3_left_1_title nav {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  margin-left: 0.5rem;
}

.kursus_box_3_left_1_desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

.kursus_box_right {
  position: relative;
}

.kursus_box_right img {
  position: relative;
}

.kursus_desain {
  position: absolute;
  top: 130px;
  left: 290px;

  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.guru_tersedia {
  position: absolute;
  top: 245px;
  left: 270px;

  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

/* ------------- subjek ------------- */

.button_submit {
  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  padding: 0.7em 2.5em;
  cursor: pointer;
}

.button_submit:hover {
  opacity: 0.9;
}

.navbar_contents_menu1:hover,
.navbar_contents_menu2:hover,
.navbar_contents_menu3:hover,
.navbar_contents_menu4:hover {
  color: #1ea9e4;
  font-weight: bold;
}

.subjek {
  margin: 3rem 0;
  padding: 0 4rem;

  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.subjek_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subjek_title_main {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  /* identical to box height, or 140% */

  letter-spacing: -0.01em;
}

.subjek_title_action {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: antiquewhite; */
}

.next {
  margin-left: 1rem;
}

.next:hover {
  opacity: 0.9;
}

.previous,
.next {
  cursor: pointer;
}

.subjek_gallery {
  margin-top: 3rem;
}

.subjek_gallery_card {
  box-shadow: 0px 0px 2px 2px rgba(125, 125, 125, 0.16);
  border-radius: 8px;
}

.subjek_gallery_row {
  display: flex;
  /* grid-template-columns: 30% 30% 30%; */

  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
}

.subjek_gallery_card {
  max-width: 65%;

  padding: 1rem;
  margin: 0 2rem;

  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.subjek_thumbnail {
  margin-bottom: 1rem;
}

.subjek_content_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.subjek_content_title_main {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.subjek_content_tutor {
  display: flex;

  margin-bottom: 0.5rem;
}

.subjek_content_tutor nav {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.subjek_content_tutor img {
  margin-left: 0.5rem;
}

.subjek_content_rating {
  display: flex;
}

.star,
.ulasan,
.murid {
  margin-right: 0.3rem;
}

.ulasan {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.divider {
  margin: 0 1rem;
}

.group_of_reviewer {
  margin-right: 0.7rem;
}

.murid {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.subjek_content hr {
  border: 0.1px dashed #cccccc;
}

.subjek_action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0 0.5rem 0;
}

.subjek_action_harga {
  font-weight: 700;
  font-size: 21.1396px;
  line-height: 32px;
}

.subjek_lihat_semua {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_lihat_semua {
  background: none;
  border-radius: 12px;
  color: #1ea9e4;
  border: 1.5px solid #1ea9e4;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  padding: 0.7em 2.5em;
  cursor: pointer;
}

.button_lihat_semua:hover {
  opacity: 0.9;

  background: #1ea9e4;
  border-radius: 12px;
  color: #fff;
  border: 1.5px solid #1ea9e4;
}

/* ------------- benefit sebagai ------------- */
.benefit_sebagai {
  margin: 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit_sebagai_tutor_img,
.benefit_sebagai_student_img {
  cursor: pointer;
}
