.po_body {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: antiquewhite; */
}

.po_body_left {
  position: relative;
  padding: 0 1.5rem;

  margin-bottom: 8rem;

  max-width: 25rem;
}

.po_body_left_title {
  margin-bottom: 2rem;
}

.po_body_right {
  max-width: 50%;
}

.po_title {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.po_title nav {
  /* margin-left: 1rem; */

  font-weight: 600;
  font-size: 24px;
  line-height: 48px;

  /* color: var(--blue); */
}

.online_offline {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.online_offline_title {
  font-weight: 600;
  font-size: 16px;

  margin-bottom: 1rem;
}

.deco {
  /* margin: 4px; */
  background-color: white;
  border-radius: 12px;
  border: 3px solid #c8c9d1;
  overflow: hidden;
  float: left;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.deco label {
  float: left;
  line-height: 3em;
  width: 9em;
  height: 3em;
}

.deco label span {
  text-align: center;
  /* padding: 3px 0; */
  display: block;
}

.deco label input {
  position: absolute;
  display: none;
  color: #c8c9d1 !important;
}
/* selects all of the text within the input element and changes the color of the text */
.deco label input + span {
  color: #c8c9d1;
}

/* This will declare how a selected input will look giving generic properties */
.deco input:checked + span {
  color: #fff;

  /* text-shadow: 0 0 6px rgba(0, 0, 0, 0.8); */

  background-color: var(--blue);
  border: 3px solid var(--blue);
}

.button_container {
  position: absolute;
  bottom: -6rem;
  right: -25rem;

  display: flex;
  gap: 1rem;
}

.button_kembali {
  background: none;
  border-radius: 12px;
  color: #1ea9e4;
  border: 1.5px solid #1ea9e4;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.4rem 2rem;
  cursor: pointer;

  width: fit-content;
}

.button_kembali:hover {
  opacity: 0.9;

  background: #1ea9e4;
  border-radius: 12px;
  color: #fff;
  border: 1.5px solid #1ea9e4;
}

.button {
  /* position: absolute;
    top: -5rem;
    left: 53rem; */

  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.5rem 2.5rem;
  cursor: pointer;

  width: fit-content;
}

.button:hover {
  opacity: 0.9;
}
