.profile_title {
  margin: 2rem 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.button {
  /* position: absolute;
      top: -5rem;
      left: 53rem; */

  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.5rem 2.5rem;
  cursor: pointer;

  width: 100%;
}

.button:hover {
  opacity: 0.9;
}

.button_save {
  /* position: absolute;
      top: -5rem;
      left: 53rem; */

  background: #1ea9e4;
  border-radius: 12px;
  color: white;
  border: none;

  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  padding: 0.5rem 2.5rem;
  cursor: pointer;

  width: 25rem;

  margin-bottom: 2rem;
}

.button:hover {
  opacity: 0.9;
}

.ib_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
}

.tambah_pengalaman {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #1ea9e4;
  border-radius: 12px;

  width: 25rem;

  padding: 0.5rem 2.5rem;

  color: #1ea9e4;

  cursor: pointer;
}

.hr {
  border: var(--hr);
  margin: 2rem 0;
}

.sertifikat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.modal_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 1rem;
}
